*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Navigation Style */
.nav-container{
    display: flex;
    justify-content: space-around;
    background-color: #474747;
    padding: 15px;

}
.menu{
    list-style: none;
    display: flex;
    align-items: center;

    
}
li{
    margin-right: 20px;
    cursor: pointer;
    color: white;
}
/* Body style */
.body-container{
    height: 100vh;
   background-image: url('image/background.jpg'),
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3));
    background-blend-mode: overlay;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   display: flex;
   align-items: center;
}
span{
    color: tomato;
}
.section-title{
    font-size: 80px;
    color: #FFF8F3;
}
.section-des{
    color: white;
    margin: 20px 350px;
    text-align: center;
}
button{
    padding: 15px 15px;
    background-color: tomato;
    border: none;
    color: white;
    margin-right: 15px;
}
.button2{
    background-color: #FFF8F3;
    color: #474747;
}
.service-container{
    height: 100vh;
    background-image: url('image/footer-bg.png'),
    linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7));
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    color: white;
}
.service-description{
    width: 50%;
}